/* Write your CSS code here */

.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-image {
  width: 190px;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
